@use "variables" as vars;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  color: vars.$color-primary;
}

a {
  color: inherit;
  text-decoration: none;
}

input, button {
  font: inherit;
  font-weight: 400;
}

button {
  cursor: pointer;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

h1, h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}

img, svg {
  vertical-align: middle;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

