.header {
    padding: 18px 0;
    background-color: #ffffff;
}

.header-container {
    max-width: 1440px;
    padding: 0 40px;
    margin: auto;

    @media (max-width: 375px) {
        padding: 0 24px;
    }
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-link {
    display: block;
    margin-right: 20px;
}
