@use "@/styles/variables" as vars;

.login {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-bottom: 30px;
}

.register-link {
    margin-top: 16px;
    text-align: center;
    font-size: 14px;
    text-decoration: none;

    a {
      color: vars.$color-accent;

      &:hover {
        text-decoration: underline;
      }
    }

}
